<{include file="./public/head.html" /}>
<title>商家列表</title>

<{include file="./public/header.html" /}>



<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户中心 <span class="c-gray en">&gt;</span> 商家列表
		<!--<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>-->
		<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="<{$back_url}>" title="返回" ><i class="Hui-iconfont">&#xe66b;</i></i></a>
	</nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<div class="text-c"> 日期范围：
				<input type="text" name="begin_time" placeholder="开始时间" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}'})" id="datemin" class="input-text Wdate" style="width:120px;">
				-
				<input type="text" name="end_time" placeholder="结束时间" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d'})" id="datemax" class="input-text Wdate" style="width:120px;">
				<input type="text" class="input-text" style="width:250px" placeholder="输入关键字检索" id="" name="s_consume">
				<button type="submit" class="btn btn-success radius" onclick="s_record()" id="s_record"><i class="Hui-iconfont">&#xe665;</i> 搜记录</button>
				<button type="submit" class="btn btn-warning radius" onclick="s_statement()" id="s_statement"><i class="Hui-iconfont">&#xe665;</i> 报&nbsp;&nbsp;表</button>
			</div>
			<div class="cl pd-5 bg-1 bk-gray mt-20">
				<span class="l">
					<a href="<?=url('admin/consume/consumesearchtoexcel')?>?<?=$str?>" class="btn btn-warning radius"><i class="Hui-iconfont">&#xe644;</i> 导&nbsp;出</a>
				</span> 
				<span class="r">共有数据：<strong><{$lists|count}></strong> 条</span> </div>
			<div class="mt-20">
				<table class="table table-border table-bordered table-hover table-bg ">
					<thead>
						<tr class="text-c">

							<th width="80">ID</th>
							<th width="100">消费人姓名</th>
							<th width="100">消费人号码</th>
							<th width="100">消费商家名</th>
							<th width="40">消费金额</th>
							<th width="90">消费时间</th>
							<th width="100">操作</th>
						</tr>
					</thead>
					<tbody>
					<{foreach name="lists" item="l"}>
					<tr class="text-c">
							<td><{$key+1}></td>
							<td><u style="cursor:pointer" class="text-primary"><{$l.cons_name}></u></td>
							<td><{$l.cons_phone}></td>
							<td><{$l.stroe}></td>
							<td><{$l.tip}></td>
							<td><{$l.time}></td>
							<td class="td-manage">
								<a title="编辑" href="javascript:;" onclick="member_edit('编辑','<{:Url("admin/consume/editor","id=".$l["id"])}>','4','','510')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
								<a title="删除" href="javascript:;" onclick="member_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
							</td>
						</tr>
					<{/foreach}>
					</tbody>
				</table>
			</div>
		</article>
	</div>
</section>

<{include file="./public/footer.html" /}>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="_LIB_/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="_LIB_/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="_LIB_/laypage/1.2/laypage.js"></script>
<!-- <script type="text/javascript" src="_LIB_/jquery/1.9.1/jquery.min.js"></script> -->
<script type="text/javascript">

/*用户-编辑*/
function member_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}

/*用户-删除*/
function member_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$(obj).parents("tr").remove();
		layer.msg('已删除!',{icon:1,time:1000});
	});
}


/*搜索-记录*/

function s_record(){
	var begin = $("input[name='begin_time']").val();
	var end = $("input[name='end_time']").val();
	var search = $("input[name='s_consume']").val();
	window.location.href = "<?=url('admin/consume/consumesearch') ?>?be="+begin+"&end="+end+"&search="+search;
}


/*搜索-报表*/

function s_statement(){
	var begin = $("input[name='begin_time']").val();
	var end = $("input[name='end_time']").val();
	window.location.href = "<?=url('admin/consume/consumestatistics') ?>?be="+begin+"&end="+end;
}



</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>