<{include file="./public/head.html" /}>


<title>会员管理</title>


<{include file="./public/header.html" /}>

<section class="Hui-article-box">
	<nav class="breadcrumb">
		<i class="Hui-iconfont">&#xe67f;</i> 首页 
		<span class="c-gray en">&gt;</span> 用户中心 
		<span class="c-gray en">&gt;</span> 会员检索列表

	</nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<div class="text-c"><form action="<?= \think\Url::build('admin/member/membersearch') ?>" method="post" >
				<input type="text" class="input-text" style="width:250px;" placeholder="输入关键字检索" id="" name="mem_search">
				<button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜会员</button>
			</form></div>
			<div class="cl pd-5 bg-1 bk-gray mt-20"> 
				<span class="l">
					<a href="<?=url('admin/member/membersearchtoexcel',array('s'=>$search))?>" class="btn btn-warning radius"><i class="Hui-iconfont">&#xe644;</i> 导出</a>
					<a href="javascript:;" onclick="member_add('添加用户','<?= \think\Url::build('admin/member/memberAdd') ?>','','788')" class="btn btn-primary radius">
						<i class="Hui-iconfont">&#xe600;</i> 添加用户
					</a>
				</span> 
				<span class="r">共有数据：<strong><?=$count?></strong> 条</span> 
			</div>
			<div class="mt-20">
				<table class="table table-border table-bordered table-hover table-bg table-sort">
					<thead>
						<tr class="text-c">
							<th width="3%">ID</th>
							<th width="5%">用户名</th>
							<th width="5%">性别</th>
							<th width="8%">手机</th>
							<th >地址</th>
							<th width="8%">区域</th>
							<th width="8%">会员类别</th>
							<th width="6%">套餐标准</th>
							<th width="10%">其他联系方式</th>
							<th width="5%">消费者</th>
							<th width="10%">添加时间</th>
							<th width="6%">入会时间</th>
							<th width="5%">状态</th>
							<th width="8%">操作</th>
						</tr>
					</thead>
					<tbody>
						<{foreach name='list' item='mem'}>
						<tr class="text-c">
							<td><{$mem['mid']}></td>
							<td>
								<u style="cursor:pointer;" class="text-primary"><{$mem['member_name']}></u>
							</td>
							<td>
								<{switch name="$mem['member_sex']"}>
									<{case value="1"}>男<{/case}>
									<{case value="2"}>女<{/case}>
									<{case value="3"}>保密<{/case}>
								<{/switch}>
							</td>
							<td><{$mem['mobile_phone']}></td>
							<td class="text-l" title=""><{$mem['member_addr']}></td>
							<td><{$mem['type_name']}></td>
							<td><{$mem['grade_name']}></td>
							<td><{$mem['standard_name']}></td>
							<td><{$mem['family_phone']}></td>
							<td><{$mem['cons_name']}></td>
							<td><{$mem['at_time']}></td>
							<td><{$mem['ad_time']}></td>
					<{switch name="$mem['m_status']"}>
						<{case value="0"}>
							<td class="td-status">
								<span class="label label-success radius">已启用</span>
							</td>
							<td class="td-manage">
								<a style="text-decoration:none" onClick="member_stop(this,'<{$mem['mid']}>')" href="javascript:;" title="停用">
									<span class="label label-danger radius">禁用</span>
								</a>
						<{/case}>
						<{case value="1"}>
							<td class="td-status">
								<span class="label label-defaunt radius">已停用</span>
							</td>
							<td class="td-manage">
								<a style="text-decoration:none" onClick="member_start(this,<{$mem['mid']}>)" href="javascript:;" title="启用">
									<span class="label label-success radius">启用</span>
								</a>
						<{/case}>
					<{/switch}>	
								<a title="编辑" href="javascript:;" 
								onclick="member_edit('会员编辑','<?= \think\Url::build('admin/member/memberedit') ?>?mid=<{$mem['mid']}>','','','618')" 
								class="ml-5" style="text-decoration:none">
									<span class="label label-primary radius">编辑</span>
								</a>
							</td>
						</tr>
						<{/foreach}>

					</tbody>
				</table>
			</div>
		</article>
	</div>
</section>

<{include file="./public/footer.html" /}>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="_LIB_/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="_LIB_/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="_LIB_/laypage/1.2/laypage.js"></script>
<script type="text/javascript">

function reaload() {
    window.location.reload();
}

/*用户-添加*/
function member_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*用户-查看*/
function member_show(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*用户-停用*/
function member_stop(obj,id){
	layer.confirm('确认要停用吗？',function(index){
		$.ajax({
			url : "<?= \think\Url::build('admin/member/memberout') ?>",
			type : 'post',
			data : {'mid':id},
			success : function(data){
				if(data['status'] == 1){
					$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_start(this,'+id+')" href="javascript:;" title="启用">'
																	+'<span class="label label-success radius">启用</span></a>');
					$(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已停用</span>');
					$(obj).remove();
					layer.msg('已停用!',{icon: 5,time:1000});
				}
			}
		});
	});
}

/*用户-启用*/
function member_start(obj,id){
	layer.confirm('确认要启用吗？',function(index){
		$.ajax({
			url : "<?= \think\Url::build('admin/member/memberstart') ?>",
			type : 'post',
			data : {"mid":id},
			success : function(data){
				if(data['status'] == 1){
					$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_stop(this,'+id+')" href="javascript:;" title="停用">'
																	+'<span class="label label-danger radius">禁用</span></a>');
					$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
					$(obj).remove();
					layer.msg('已启用!',{icon: 6,time:1000});
				}
			}
		});
	});
}
/*用户-编辑*/
function member_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*密码-修改*/
// function change_password(title,url,id,w,h){
// 	layer_show(title,url,w,h);	
// }
/*用户-删除*/
function member_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$(obj).parents("tr").remove();
		layer.msg('已删除!',{icon:1,time:1000});
	});
}
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>