<{include file="./public/head.html" /}>

<title>添加用户 - H-ui.admin 3.0</title>
<meta name="keywords" content="蓝划优品">
<meta name="description" content="蓝划优品">
</head>
<body>
<article class="cl pd-20">
	<form action="<{:Url('admin/partner/doAdd')}>" method="post" class="form form-horizontal" id="form-member-add">
		<div class="row cl">
			<label class="form-label  col-sm-2">店名：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text"  placeholder="" id="username" name="stroe" value="">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label  col-sm-2">营业执照注册号：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text"  placeholder="" id="" name="setup_id" value="">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label  col-sm-2">经营人：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text"  placeholder=""  name="name" value="">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label  col-sm-2">电话：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text"  placeholder=""  name="phone" value="">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label  col-sm-2">身份证号：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text"  placeholder=""  name="id_card" value="">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label  col-sm-2">收款方式：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text"  placeholder="" name="profit" value="">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label  col-sm-2">收款人：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text"  placeholder=""  name="pro_person" value="">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label  col-sm-2">收款账号：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text"  placeholder=""  name="pro_account" value="">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label  col-sm-2">店铺地址：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text"  placeholder="" name="address" value="" readonly >
			</div>
		</div>

		<div class="row cl">
			<label class="form-label  col-sm-2">选择地址：</label>
			<div class="formControls col-xs-8 col-sm-9">
			</div>
		</div>

		<input name="position" value="" type="hidden" />
		<div id="container" style="width:100%; height:305px"></div>

		<div class="row cl">
			<div class="col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>


	</form>
</article>
<{include file="./public/footer.html" /}>


<script type="text/javascript" src="_LIB_/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="_LIB_/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="_LIB_/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="_LIB_/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.3&key=fd8f1e99626bbde968f1b49e2417a241&callback=init"></script>
<script type="text/javascript">

    function init(){
        var map = new AMap.Map('container', {
            pitch:0,
            viewMode:'3D',
            zoom: 10,
            expandZoomRange:true,
            zooms:[3,20],
            center:[104.06,30.67]
        });
        map.plugin(["AMap.ToolBar"], function() {
            map.addControl(new AMap.ToolBar());

            // geolocation = new AMap.Geolocation({
            //     enableHighAccuracy: true,//是否使用高精度定位，默认:true
            //     timeout: 10000,          //超过10秒后停止定位，默认：无穷大
            //     maximumAge: 0,           //定位结果缓存0毫秒，默认：0
            //     convert: true,           //自动偏移坐标，偏移后的坐标为高德坐标，默认：true
            //     showButton: true,        //显示定位按钮，默认：true
            //     buttonPosition: 'LB',    //定位按钮停靠位置，默认：'LB'，左下角
            //     buttonOffset: new AMap.Pixel(10, 20),//定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
            //     showMarker: true,        //定位成功后在定位到的位置显示点标记，默认：true
            //     showCircle: true,        //定位成功后用圆圈表示定位精度范围，默认：true
            //     panToLocation: true,     //定位成功后将定位到的位置作为地图中心点，默认：true
            //     zoomToAccuracy:true      //定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
            // });
            // map.addControl(geolocation);
            // geolocation.getCurrentPosition();
            // AMap.event.addListener(geolocation, 'complete', onComplete);//返回定位信息
            // AMap.event.addListener(geolocation, 'error', onError);      //返回定位出错信息
        });

        AMap.service('AMap.Geocoder',function(){//回调函数
            //实例化Geocoder
            geocoder = new AMap.Geocoder({
                city: "010"//城市，默认：“全国”
            });


            //TODO: 使用geocoder 对象完成相关功能
        })

        var clickEventListener = map.on('click', function(e) {
            var long = e.lnglat.getLng();
            var lat = e.lnglat.getLat();
            geocoder.getAddress([long,lat], function(status, result) {
                if (status === 'complete' && result.info === 'OK') {
					$('input[name="address"]').val(result.regeocode.formattedAddress);
					$('input[name="position"]').val(long+','+lat);
					console.log(result.regeocode.formattedAddress);
                }else{

                }
            });
        });
    }

    $(function(){
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });

        $("#form-member-add").validate({
            rules:{
                stroe:{
                    required:true,
                },
                name:{
                    required:true,
                },
                setup_id:{
                    required:true,
                    rangelength:[13,18]
                },
                phone:{
                    required:true,
                    isMobile:true,
                },
                id_card:{
                    required:true,
                    rangelength:[18,18]
                },
                profit:{
                    required:true,
                },
                pro_person:{
                    required:true,
                },
                pro_account:{
                    required:true,
                },
                address:{
                    required:true,
                },
            },
            onkeyup:false,
            focusCleanup:true,
            success:"valid",
            submitHandler:function(form){
                $(form).ajaxSubmit(
                    function(mess){
                        if(mess['s'] == false)
                        {
                            layer.msg(mess['d'],{
                                icon:2,
                                time:2000
                            });
                        }
                        else{
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.$('.btn-refresh').click();
                            parent.location.reload();
                        }
                    }
                );
            }
        });
    });
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>