<{include file="./public/head.html" /}>

<title>添加用户 - H-ui.admin 3.0</title>
<meta name="keywords" content="蓝划优品">
<meta name="description" content="蓝划优品">
</head>
<body>
<article class="cl pd-20">
	<form action="<{:Url('admin/partner/doEditor')}>" method="post" class="form form-horizontal" id="form-member-add">
		<input name="id" value="<{$shop.id}>" type="hidden" />
		<div class="row cl">
			<label class="form-label  col-sm-2">店名：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text"  placeholder="" id="stroe" name="stroe" value="<{$shop.stroe}>">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label  col-sm-2">店名：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text"  placeholder="" id="setup_id" name="setup_id" value="<{$shop.setup_id}>">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label  col-sm-2">经营人：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text"  placeholder=""  name="name" value="<{$shop.name}>">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label  col-sm-2">电话：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text"  placeholder=""  name="phone" value="<{$shop.phone}>">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label  col-sm-2">身份证号：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text"  placeholder=""  name="id_card" value="<{$shop.id_card}>">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label  col-sm-2">收款方式：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text"  placeholder="" name="profit" value="<{$shop.profit}>">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label  col-sm-2">收款人：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text"  placeholder=""  name="pro_person" value="<{$shop.pro_person}>">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label  col-sm-2">收款账号：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text"  placeholder=""  name="pro_account" value="<{$shop.pro_account}>">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label  col-sm-2">店铺地址：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text"  placeholder="" name="address" value="<{$shop.address}>">
			</div>
		</div>


		<div class="row cl">
			<label class="form-label  col-sm-2">选择地址：</label>
			<div class="formControls col-xs-8 col-sm-9">
			</div>
		</div>

		<input name="position" value="" type="hidden" />
		<div id="container" style="width:100%; height:305px"></div>

		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>

<{include file="./public/footer.html" /}>





<script type="text/javascript" src="_LIB_/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="_LIB_/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="_LIB_/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="_LIB_/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.3&key=fd8f1e99626bbde968f1b49e2417a241&callback=init"></script>

<script type="text/javascript">

    function init(){
        var map = new AMap.Map('container', {
            pitch:0,
            viewMode:'3D',
            zoom: 12,
            expandZoomRange:true,
            zooms:[3,20],
            center:[<{$shop.position}>]
        });
        map.plugin(["AMap.ToolBar"], function() {
            map.addControl(new AMap.ToolBar());
        });

        AMap.service('AMap.Geocoder',function(){//回调函数
            //实例化Geocoder
            geocoder = new AMap.Geocoder({
                city: "010"//城市，默认：“全国”
            });
            //TODO: 使用geocoder 对象完成相关功能
        })

        var clickEventListener = map.on('click', function(e) {
            var long = e.lnglat.getLng();
            var lat = e.lnglat.getLat();
            geocoder.getAddress([long,lat], function(status, result) {
                if (status === 'complete' && result.info === 'OK') {
                    $('input[name="address"]').val(result.regeocode.formattedAddress);
                    $('input[name="position"]').val(long+','+lat);
                    console.log(result.regeocode.formattedAddress);
                }else{

                }
            });
        });
    }

$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	$("#form-member-add").validate({
        rules:{
            stroe:{
                required:true,
            },
            name:{
                required:true,
            },
            setup_id:{
        		required:true,
    		},
            name:{
        		required:true,
    		},
            phone:{
                required:true,
                isMobile:true,
            },
            id_card:{
                required:true,
                rangelength:[18,18]
            },
            profit:{
                required:true,
            },
            pro_person:{
                required:true,
            },
            pro_account:{
                required:true,
            },
            address:{
                required:true,
            },
        },
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
            $(form).ajaxSubmit(
                function(mess){
                    if(mess['s'] == false)
                    {
                        layer.msg(mess['d'],{
                            icon:2,
                            time:2000
                        });
                    }
                    else{
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.$('.btn-refresh').click();
                        parent.location.reload();
                    }
                }
            );
		}
	});
});
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>